@media all and (min-width: 950px) {

	.scrollol{
		max-height: 470px;
		overflow-y: auto;
	}

	.au-centre {
	    text-align: center;
	    padding: .75rem;
	    vertical-align: top;
	    border-top: 1px solid #dee2e6;
	}

	.non-centre{
		text-align: unset;
	    padding: .75rem;
	    vertical-align: top;
	    border-top: 1px solid #dee2e6;		
	}	

	html{
		height: 100%;
	}

	body{
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.navbar, .container{
		margin-bottom: 50px;
	}

	.navbar{
		padding: 25px 25px 25px 25px;
	}	

	.row {
		margin: 2px 0 0 0;
	}

	.col {
		margin: 0 0 20px 0;
	}

	.card{
		margin-bottom: 25px;
		height: 200px;
	}

	.blanc{
		height: 70px !important;
	}

	.blanc > .card-header:first-child {
	    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
	    height: 70px !important;
	}

    @media (min-width: 950px){
		.modal-dialog {
		    max-width: 1500px;
		    padding: 10px 10px 10px 10px;
		}

		.petit{
		    max-width: 500px;
		    padding: 10px 10px 10px 10px;			
		}
	}	

	@media all and (max-width: 1097px) {	
		.blanc{
			height: 120px !important;
		}

		.blanc > .card-header:first-child {
		    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
		    height: 120px !important;
		}
	}	
	
	.mobile{
		display: none;
	}

}

@media not all and (min-width: 950px) {

	.scrollol{
		max-height: 400px;
		overflow-y: auto;
	}	

	.modal-dialog {
		max-width: 600px;
	    padding: 10px 10px 10px 10px;
	}

	body{
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	.navbar, .container{
		margin-bottom: 50px;
	}		

	.container-fluid{
		width : 100%;
	}

	.container-fluid > .row{
		display: flex;
		flex-direction: column;		
		margin: 2px 0 0 0;
	}	

	.row {
		margin: 20px 0 0 0;
	}

	.col {
		margin: 0 0 20px 0;
		min-height: initial !important;			
    }

    .ordinateur{
    	display: none;	
    }

    .centrer{  	
    	margin : 0 50px 0 50px;
    	text-align: center;	
    }


    .bojeu{
    	display: flex;
    	flex-direction: column;
    }

	.card{
		margin-bottom: 25px;
		height: 200px;
	} 

	.recherche{
		margin-bottom: 25px;
		height: 250px;		
	}   


	@media all and (max-width: 500px) {
		.container-fluid > .row{
			display: flex;
			flex-direction: column;		
			margin: 2px 0 0 0;
		}

		.container-fluid{
			width : 100%;
		}

		.card{
			margin-bottom: 25px;
			height: 200px;
		}

		.recherche{
			margin-bottom: 25px;
			height: 270px;		
		}   

	}

	.blanc{
		height: 50px !important;
	}		


	@media all and (max-width: 333px) {
		.blanc{
			height: 80px !important;
		}

		.blanc > .card-header:first-child {
			border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
			height: 80px !important;
		}
	}

}

